body {
    font-family: Arial, Helvetica, sans-serif;
    align-items:column;
    background-color: #224e6c; 
    display:flex;
    justify-content: end;
    flex-direction: column;
}

#things {
     display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-left: 1%;
    flex-grow:10;
    font-size:1.7rem;
    margin-bottom:200px;
    color: white;

}

#stuff {
    display:flex;
    flex-direction:row-reverse;
    align-items: center;  
}

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
   
}



h1 {
    margin: 0;
    margin-bottom: 200px;
    font-size: 3rem;
}




#cell-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1; 
    width: 50%;
    gap: 8px;
    margin-top: 40px;
    color:white;
}

.cell{
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: rgb(24, 24, 24);
    overflow-wrap: anywhere;
    border: 3px solid #5e5c5c;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}

.cell.selected{
   background-color: rgb(58, 92, 63);
   color:rgb(255, 255, 255);
}

#next-btn {
    
    font-size: 1.9rem; 
    width: 400px;
    margin-top: 30px;
    background-color: #2a2929;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}

#next-btn.enabled {
    display:block;
    background: linear-gradient(to right, blue, green, orange, red, indigo, blue, green, orange, red, indigo, blue);
    background-size: 200% auto;
    animation: rainbow-scroll .5s linear infinite;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size:2rem;
    width:400px;
    margin-top: 30px;
}

#reset-btn {
    background-color: #ae1928; /* A nice red color */
    color: white;
    cursor: pointer;
    font-size: 2rem;
    width:400px;
    margin-top: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}


#undo-btn {
    background-color: #ffc107; /* A nice amber color */
    color: black;
    cursor: pointer;
    font-size: 2rem;
    width: 400px;
    margin-top: 3px;
    border-radius: 7px;
    border: none;

}

#winners-page {
    display: none; /* Hidden by default */
    color: white;
    text-align: center;
    margin-top: 50px;
}

@keyframes rainbow-scroll {
    from { background-position: 100% 50%; }
    to   { background-position: 0% 50%; }
}